<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/Logout">
            <MudButton
                ButtonType="ButtonType.Submit"
                Variant="Variant.Text"
                StartIcon="@Icons.Material.Filled.Logout">
                @Localization.SharedLoginLogOut
            </MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton
            Variant="Variant.Filled"
            Href="/Identity/Account/Register"
            StartIcon="@Icons.Material.Filled.AppRegistration">
            @Localization.SharedLoginRegister
        </MudButton>
        <MudButton
            Variant="Variant.Filled"
            Href="/Identity/Account/Login"
            StartIcon="@Icons.Material.Filled.Login">
            @Localization.SharedLoginLogIn
        </MudButton>
    </NotAuthorized>
</AuthorizeView>