@inherits LayoutComponentBase
@using Color = MudBlazor.Color
@using ThreeDeeFrontend.ViewModels
@using ThreeDeeFrontend.Components
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.AspNetCore.Components
@using ThreeDeeFrontend.Services
@using ThreeDeeInfrastructure.Services

<PageTitle>@Localization.SharedMainPageTitle</PageTitle>
<MudThemeProvider 
    IsDarkMode="@ThemeProviderService.IsDarkMode"
    IsDarkModeChanged="async x => await SwitchTheme(x)" 
    Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudLayout>
    @if (_isInitDone)
    {
        <MudAppBar Elevation="1" Style="@($"background: {MenuBarBackgroundColor()};")">
            <a href="/">
                @if (ThemeProviderService.IsDarkMode)
                {
                    <img src="assets/logo3ddark.png" style="height: 44px;"/>
                }
                else
                {
                    <img src="assets/logo3dlight.png" style="height: 44px;"/>
                }
            </a>
            <div class="d-flex justify-center flex-grow-1 gap-4">
                <MudButton Variant="Variant.Filled">Files</MudButton>
                <MudButton Variant="Variant.Filled">Contribute</MudButton>
                <MudButton Variant="Variant.Filled">Services</MudButton>
                <MudButton Variant="Variant.Filled">Contact</MudButton>
            </div>
            <div style="padding-right: 50px; display: flex; align-items: center; align-content: center;">
                @if (AuthenticationValidator.IsAuthenticated)
                {
                    <FileUpload UploadStateHasChanged="i => { _uploaded = i; }"/>
                }
                <LoginDisplay/>
            </div>
            <MudSwitch
                @bind-Checked="@ThemeProviderService.IsDarkMode"
                Color="Color.Primary" T="bool"
                Label="@(ThemeProviderService.IsDarkMode ? Localization.SharedMainDarkModeDark : Localization.SharedMainDarkModeLight)"/>
        </MudAppBar>
        @if (_uploaded != 0)
        {
            <MudProgressLinear Style="top: 36px; height: 6px;" Color="Color.Secondary" Value="@_uploaded" Class="my-7"/>
        }
        <MudMainContent Style="height: 100vh;">
            @Body
        </MudMainContent>   
    }
</MudLayout>

@code
{
    [Inject]
    public IThemeProviderService ThemeProviderService { get; set; }
    
    [Inject]
    public AuthenticationValidator AuthenticationValidator { get; set; }
    
    [Inject] 
    public ProtectedLocalStorage BrowserSettings { get; set; }

    readonly MudTheme _theme = new()
    {
        Palette = new Palette()
        {
            Primary = Colors.Amber.Default,
            Secondary = Colors.DeepOrange.Darken1,
            AppbarBackground = Colors.Indigo.Lighten5,
            Background = Colors.Grey.Lighten5,
            Tertiary = Colors.Indigo.Darken1,
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Amber.Default,
            Secondary = Colors.DeepPurple.Lighten4,
            AppbarBackground = Colors.Indigo.Darken1,
            Tertiary = Colors.Indigo.Darken1,
            Background = "#27282c"
        }

    };
    private const string SaveSettingsKey = "threedeedarkmodesetting";
    //private bool _isAuthenticated;
    private int _uploaded;
    private bool _isInitDone;


    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            AuthenticationValidator.AuthenticationStateHasChanged = EventCallback.Factory
                            .Create(this, async () => await InvokeAsync(StateHasChanged)); 
            try
            {
                var result = await BrowserSettings.GetAsync<bool>(SaveSettingsKey);
                if (result.Success)
                {
                    ThemeProviderService.IsDarkMode = result.Value;
                }
                else
                {
                    await BrowserSettings.SetAsync(SaveSettingsKey, ThemeProviderService.IsDarkMode);
                }
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
            _isInitDone = true;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task SwitchTheme(bool isDarkTheme)
    {
        ThemeProviderService.IsDarkMode = isDarkTheme;
        try
        {
            await BrowserSettings.SetAsync(SaveSettingsKey, isDarkTheme);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private string MenuBarBackgroundColor()
    {
        bool isDarkMode = ThemeProviderService.IsDarkMode;
        return AuthenticationValidator.IsAuthenticated switch
        {
            true when isDarkMode => Colors.Indigo.Darken1,
            true when isDarkMode == false => Colors.Indigo.Lighten5,
            _ => "transparent"
            };
    }
}


